.emacs.d/ac-comphist.dat
.emacs.d/history
.emacs.d/tramp
.emacs.d/.org-id-locations
.vim/bundle/*
.vim/ftplugin/
.vim/autoload/
.zshrc.alias
.gitconfig
.netrwhist
.irssi*
.DS_Store
.ssh/
.aws/
.zsh/aws/
awscli.conf
/src/
Vagrantfile
private.xml
