.emacs.d/ac-comphist.dat
.emacs.d/history
.emacs.d/tramp
.emacs.d/.org-id-locations
.vim/bundle/.neobundle/*
.vim/ftplugin/
.vim/autoload/
.zshrc.alias
.gitconfig
# *.conf
.netrwhist
.irssi*
.DS_Store
*.xml
.ssh/
.idea/
.aws/
.zsh/aws/
awscli.conf
Vagrantfile
